<div class="page-header">
  <h1> <%= repo.name%> : Builds</h1>
</div>
<div>
<div class="row pull-right">
  <div class="btn-group">
  <button type="button" id="btnStartBuild"
                 data-start-text="Start New Build"
                 data-starting-text="Starting..."
                 data-started-text="Started."
                 data-error-text="...Error..."
                 class="btn btn-primary btn-sm">Start New Build</button>
  <button type="button" class="btn btn-danger disabled btn-sm">Stop Running Build</button>
</div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Result </th>
      <th> Browse </th>
      <th> Output </th>
      <th> FullDisplayName </th>
      <th> Commit Url </th>
      <th> Compare Url </th>
      <th> Comments </th>
      <th> Committer </th>
    </tr>
  </thead>
  <tbody>
  <% builds.forEach(function(build){ %>
    <tr>
      <td>
        <h4><% if (build.building) {%>
          <span class="label label-info">In Progress</span>
        <%}%>
        <% if (build.result == 'SUCCESS') {%>
          <span class="label label-success">Passed</span>
        <%}%>
        <% if (!build.building && build.result != 'SUCCESS') {%>
          <span class="label label-danger">Failed</span>
        <%}%></h4>
         </td>
      <td>
          <% if (build.hook && build.hook.deployUrl) {%>
            <a href ="<%= build.hook.deployUrl%>" target="_blank"> Browse</a>
          <%}%>
      </td>
      <td>
        <% if (build.hook) {%>
          <a href ="/builds/console?jobName=<%= build.hook.name%>&build=<%=build.number%>">
            Output</a>
        <%}%>
      </td>
      <td> <%=build.fullDisplayName%> </td>
      <td>
        <% if (build.hook) {%>
          <a href ="<%= build.hook.commitUrl%>" target="_blank"> View Commit</a>
        <%}%>
      </td>
      <td>
        <% if (build.hook) {%>
          <a href ="<%= build.hook.compareUrl%>" target="_blank">Compare</a>
        <%}%>
      </td>
      <td>
        <% if (build.hook) {%>
          <%= build.hook.message%>
        <%}%>
      </td>
      <td>
        <% if (build.hook) {%>
          <%= build.hook.commiter%>
        <%}%>
      </td>

    </tr>
  <% }) %>
</tbody>
</div>

<script type="text/javascript">

  $(function() {
      $("#btnStartBuild").click(startBuild);
  });

  function startBuild() {
    var $btn = $("#btnStartBuild");
    $btn.button('starting');
    $.post("/repos/builds", {
      jobId : "<%=repo.name%>"
    })
    .done(function(build) {
      $btn.button('started');
    });
  }

</script>
