<div class="page-header">
    <h1>My Builds</h1>
</div>
<div class="col-md-6">
    <table class="table table-striped" width="100%">
        <!--<col style="width:40%">-->
     

        <thead>
            <tr>
                <th>Build</th>
                <th>Status</th>               
                <th>Description</th>
                <th>Last Build</th>
                <th>Preserve Log?</th>
                <th>Estimated Duration</th>
                <th>Actual Duration</th>
            </tr>
        </thead>
        <tbody>
            <% builds.forEach(function(build){ %>
            <tr>
                <td> <a href="/repos/builds?jobid=<%=build.number%>"> <%=build.fullDisplayName%> </a> </td>

                <!--<td> <%=build.id%> </td>-->
                <td>
                    <%if (build.result != 'SUCCESS') {%>
                    <span class="label label-danger">Failed</span>
                    <%} else {%>
                    <span class="label label-success">Succeeded</span>
                    <%}%>
                </td>
                <!--<td> <%=build.fullDisplayName%> </td>-->
                <td> <%=build.description%> </td>
                <!--<td>

                    <%if (build.description == null) {%>
                <td>           </td>
                <%} else {%>
                <%=build.description%>
                <%}%>
                </td>-->
                <td> <%=build.timestamp%> </td>
                <td> <%=build.keepLog%> </td>
                <td> <%=build.duration%> </td>
                <td> <%=build.estimatedDuration%> </td>
            </tr>
            <% }) %>
        </tbody>
</div>

