<div class="page-header">
  <h1>Sign up for HP Helion CI</h1>
</div>
<div class="jumbotron">
  <h2>"HP Helion CI is a totally real product, and was definitely
  not built in a hackaton over four days." - anonymous</h2>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Github</h2>
      <p>Bring all your amazing products built on github and let us handle
      their continuous build cycle.</p>
      <p><a href="/auth/github" class="btn btn-success">Sign in with Github</a></p>
    </div>
    <div class="col-md-4">
      <h2>Gitlab</h2>
      <p>Bring all your amazing products built on gitlab and let us handle
      their continuous build cycle.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>bitbucket</h2>
      <p>Bring all your amazing products built on bitbucket and let us handle
      their continuous build cycle.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>
