<!--<div class="page-header">
  <h1>Sign up for HP Helion CI</h1>
</div>-->
<div class="jumbotron">
  <h2>"HP Helion CI is totally a real product, and was definitely
  not built in a hackaton over four days." - anonymous</h2>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Github<img src="/img/github.png" style="height:100px;width:120px;"/></h2>
      <p>Bring all your amazing products built on github and let us handle
      their continuous build cycle.</p>
      <p><a href="/auth/github" class="btn btn-success">Sign in with Github</a></p>
    </div>
    <div class="col-md-4">
      <h2>Gitlab<img src="/img/gitlab.png" style="height:100px;width:150px;"/></h2>
      <p>Bring all your amazing products built on gitlab and let us handle
      their continuous build cycle.</p>
      <p><a class="btn btn-default" href="#" role="button">Sign in with Gitlab</a></p>
   </div>
    <div class="col-md-4">
      <h2>bitbucket<img src="/img/bitbucket.png" style="height:100px;width:100px;"/></h2>
      <p>Bring all your amazing products built on bitbucket and let us handle
      their continuous build cycle.</p>
      <p><a class="btn btn-default" href="#" role="button">Sign in with bitbucket</a></p>
    </div>
    <!--<div class="col-md-4">
      <h2>Team Foundation Server<img src="/img/tfs.png" style="height:75px;width:120px;"/></h2>
      <p>Bring all your amazing products built on Team Foundation Server and let us handle
      their continuous build cycle.</p>
      <p><a class="btn btn-default" href="#" role="button">Sign in</a></p>
    </div>-->
</div>
