<div class="page-header">
  <h1>My webhooks</h1>
  <div class="pull-right">
    <a href="/github/webhooks" class="btn btn-success">Add a webhook</a>
  </div>
</div>


<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Commit Url </th>
      <th> Compare Url </th>
      <th> Committer </th>
      <th> Build </th>
    </tr>
  </thead>
  <tbody>
  <% webhooks.forEach(function(webhook){ %>
    <tr>
      <td> <a href ="<%= webhook.commitUrl%>"> View Commit</a> </td>
      <td> <a href ="<%= webhook.compareUrl%>"> Compare </a> </td>
      <td> <%= webhook.commiter%> </td>
      <td> <%= webhook.buildNumber%> </td>
    </tr>
  <% }) %>
</tbody>
</div>
